html{
	position: relative;
	min-height: 100%;
}
body{
	height: 100%;
	background-image: url("../images/concrete-texture.png");
	background-repeat: repeat;
	color: #777777;
	font-family: 'Arial', 'Helvetica Nueu', Helvetica, sans-serif;
	margin-bottom: 60px;
}
h1, h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.header{
	background-color: #4aaaa5;
	margin: 0;
	font-size: 36px;
	padding: 20px;
}
.links{
	padding-top: 3%;
}
.link{
	font-size: 16px;
}
.background{
	background-color: #fff;
	padding-bottom: 20px;
}
.main-content{
	margin-bottom: 15px;
}
.main-img{
	margin: 0 10px 10px 0;
}
#about{
	color: #4aaaa5;
	border-bottom: solid 2px #bfbfbf;
	padding-bottom: 10px

}
#connect{
	color: #4aaaa5;
	border-bottom: solid 1px #bfbfbf;
	padding-bottom: 10px;
	font-size: 26px;
}
.forum-text{
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 5px;
}
input[type=text] {
	width: 100%;
}
.port-img{
	padding: 40px;
}
.img{
	position: relative;
	width: 250px;
}
.caption{
	position: absolute;
	bottom: 20px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	background-color: #4aaaa5;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
}

.btn-primary {
	background: #4aaaa5;
	border: none;

}
.navbar-default .navbar-brand{
	color: #fff;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */

	background-color: #666666;
	border-top: solid 5px #4aaaa5;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	z-index: 2;
}
.text-muted{
	color: #fff;
}

/*@media only screen and (max-width: 768px) {
	.port-img{
		text-align: center;
	}
	}*/
